*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/scrapsetu/data/model/Listings.kt
/app/src/main/java/com/example/scrapsetu/view/screens/supplier/SupplierMatchScreen.kt
/app/src/main/java/com/example/scrapsetu/view/screens/buyer/BuyerDashboardScreen.kt
/app/src/main/java/com/example/scrapsetu/vm/MatchViewModel.kt
/app/src/main/java/com/example/scrapsetu/view/screens/buyer/MatchStatusScreen.kt
